<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <!--    打印到控制台 -->
  <appender name="consoleApp" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>
        %date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n
      </pattern>
    </layout>
  </appender>

 

  <!--这里选择INFO就代表，进行INFO级别输出记录，那么在控制台也好，log文件也好只记录INFO及以上级别的日志，这里相当于第一道过滤器-->
  <logger name="org.springframework.*">
          <appender-ref ref="consoleApp" />
  </logger>
  <logger name="com.suood.*">
          <appender-ref ref="consoleApp" />
  </logger>
  <root level="INFO">
    <appender-ref ref="consoleApp"/>
  </root>
</configuration>